/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --color-mid: #f2f8f6;
  --color-side: #e7f2ee;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fefefe;
  --color-btn-bg: #bcf2e0;
  /* --color-hover-dark: #183136; */
  --color-hover-dark: #24595353;
  --color-hover-light: #f9fbfa;
  --color-dark-hover: #27484d;
  /* --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9; */
  --color-primary: #44d4fd;
  --color-label: #a7a7a7;
  --color-text: #e2dede;
  --font-family: "Poppins";

  /* --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem; */

  /* --card-padding:1.8rem;
    --padding-1:1.2rem; */

  --color-text-side: #7a8c84;
  --color-text-side-hover: #4b504a;
  --color-text-hidding: #4b504a;
  --color-plant-details-graph: #d98631;

  /* --box-shadow:0 2rem 3rem var(--color-light); */
}
/****************************** DARK THEME **************************/
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  padding: 0 1.2rem;
  color: var(--color-text-side);
  /* overflow: hidden; */
  transition: all 0.5s linear;
  background-color: var(--color-side);
  /* display: none; */
}
.sidactive{
  transform: translateX(0px) !important;
}
/* responsive  */
@media (max-width: 1200px) and (min-width: 576px) {
  .sidebar {
    width: 90px;
    padding: 0px 1rem;
  }
  .menu li {
    padding: 1rem 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu li span {
    display: none;
  }
  .menu li a {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .sidebar {
    position: fixed;
    z-index: 1;
    width: 230px;
  transform: translateX(-250px);

  }
}
/* ///////////// */
.logo {
  height: 80px;
  padding: 10px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem 1.7rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: var(--color-white);
  color: var(--color-text-side-hover);
}
.menu li:hover a,
.active {
  /* color: red; */
  color: var(--color-text-side-hover);
}
.active a {
  color: var(--color-text-side-hover) !important;
}
.menu a {
  color: var(--color-text-side);
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}

/* main-content  */
.main-content {
  background-color: var(--color-mid);
}
.main-content .notification i {
  height: fit-content;
}
.sidebtn span{
  width: 20px;
  height: 3px;
  background-color: rgb(0, 0, 0);
}
.main-content .plImg {
  height: 60px;
  width: 60px;
}
.main-content .sensors .sensreading .cont {
  position: relative;
}
.sensors .sensreading {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9px;
  padding: 1.2rem 0rem;
}
.sensors .sensreading .outer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 0 5px 3px var(--color-side);
  transition: 0.6s;
  position: relative;
}
.sensors .sensreading .inner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 3px 3px var(--color-side);
  transition: 0.4s;
}
.sensors .sensreading .inner #number {
  font-weight: 600px;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 377;
  stroke-dashoffset: 377;
}
.lightIntensity {
  stroke: url(#lightIntensity);
}
.humidity {
  stroke: url(#humidity);
}
.airQuality {
  stroke: url(#airQuality);
}
svg {
  position: absolute;
  top: 0;
}
/* when hover  */
.sensors .sensreading:hover .outer {
  /* box-shadow: 0 0 10px 200px var(--color-hover-dark); */
  box-shadow: 0 0 10px 200px #43d8a142;
}
.sensors .sensreading:hover .inner {
  /* box-shadow: inset 0 0 10px 50px var(--color-hover-dark); */
  box-shadow: inset 0 0 10px 50px #43d8a142;
}
/* .sensors .sensreading:hover .inner #number {
  color: var(--color-white);
} */
@keyframes sensreading {
  100% {
    stroke-dashoffset: var(--dash-offset);
  }
}

/* graph */
.carde {
  position: relative;
  /* width: 460px; */
  background: var(--color-white);
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}
.carde:hover {
  background: var(--color-side);
}

.carde h2 {
  /* color: #f9f9f9; */
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 0 2px;
}

.carde p {
  /* color: var(--color-text); */
  font-size: 14px;
  margin: 0 0 16px;
}

.carde .pulse {
  position: absolute;
  height: 14px;
  width: 14px;
  background: var(--color-success);
  top: 52px;
  right: 40px;
  border-radius: 50%;
}

.carde .pulse::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-success);
  border-radius: 50%;
  left: -1px;
  top: -1px;
  animation: pulse 2s linear infinite;
  transform-origin: center;
  opacity: 0.8;
  scale: 0;
}

@keyframes pulse {
  70% {
    scale: 0;
    opacity: 0.8;
  }

  100% {
    scale: 2;
    opacity: 0;
  }
}

.carde .chart-area {
  position: relative;
}

.carde .chart-area .grid {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0% 3%,
    #e7f2ee 3% 3.5%,
    transparent 3% 18.65%
  );
}

.carde .chart-area .grid::after {
  content: "";
  position: inherit;
  z-index: -1;
  top: inherit;
  bottom: inherit;
  width: inherit;
  height: 100%;
}

body .apexcharts-tooltip.apexcharts-theme-light {
  color: var(--color-text);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: none;
  padding: 8px 6px 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 0;
}

.apexcharts-tooltip-title,
.apexcharts-zaxistooltip-bottom.apexcharts-theme-light {
  display: none;
}





/* signIn page  */



*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: var(--color-side);
    padding: 0 20px 0 20px;
    width: 100%;
}
.signup{
    padding: 0 10px 0 10px !important;
}
.wrapper .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .side-image{
    background-image: url("../images/login2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}
.wrapper .rows{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.wrapper .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .text p{
    color: #fff;
    font-size: 20px; 
}
.wrapper i{
    font-weight: 400;
    font-size: 15px;
}
.wrapper .right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper .input-box{
  width: 330px;
  box-sizing: border-box;
}
.wrapper img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.wrapper .input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    font-size: 1.6rem;
}
.signup .input-box header{
  margin-bottom: 35px;
}
.wrapper .input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.wrapper .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
.wrapper .input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.wrapper .input-field input:focus ~ label
   {
    top: -10px;
    font-size: 13px;
  }
  .wrapper .input-field input:valid ~ label
  {
   top: -10px;
   font-size: 13px;
   color: #5d5076;
 }
 .input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
 }
 .submit{
    border: none;
    outline: none;
    height: 45px;
    background: #bcf2e0;
    border-radius: 5px;
    transition: .4s;
    font-weight: bold;
 }
 .wrapper .submit:hover{
  background: var(--color-success);
  color: #fff;
 }
 .wrapper .signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
.wrapper span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
.wrapper span a:hover{
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width: 768px){
    .wrapper .side-image{
        border-radius: 10px 10px 0 0;
    }
    .wrapper img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .wrapper .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .wrapper .text p, i{
        font-size: 16px;
    }
    .signup .rows{
        max-width:420px;
        width: 100%;
        height: 700px;
    }
}

/* ..............  */
/* profile page  */
/* ..............  */
.profile{
  background-color: var(--color-mid);
  height: 100vh;
}
.profile .sidebtn{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(../images/profile-background.jpg);
  background-size: cover;
  background-repeat: no-repeat
}
.profile-info{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

}
.editbtn{
  width: 130px !important;
}
.bg-main{
  background-color: var(--color-mid);
}